polkit.addRule(function (action) {
  const blocked = [
    'org.freedesktop.login1.suspend',
    'org.freedesktop.login1.suspend-multiple-sessions',
    'org.freedesktop.login1.hibernate',
    'org.freedesktop.login1.hibernate-multiple-sessions',
    'org.freedesktop.login1.hybrid-sleep',
    'org.freedesktop.login1.hybrid-sleep-multiple-sessions',
    'org.freedesktop.login1.suspend-then-hibernate',
    'org.freedesktop.login1.suspend-then-hibernate-multiple-sessions',
  ];
  if (blocked.indexOf(action.id) !== -1) return polkit.Result.NO;
});
